.board {
  position: relative;
  min-height: 100vh;
}
.boardColumn {
  /* background: #f0f0f0; */
}
.boardColumnContent {
  position: relative;
  border: 10px solid transparent;
  min-height: 1024px;
}
.boardItem {
  position: absolute;
  width: 100%;
  margin: 5px 0;
}
.boardItemContent {
  position: relative;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
}
@media (max-width: 600px) {
  .boardItemContent {
    text-align: center;
  }
}

/* Deprecated. This is the secret sauce,
   always use a wrapper for setting
   the "overflow: scroll/auto" */
.boardColumnContentWrapper {
  position: relative;
  max-height: 300px;
  overflow-y: auto;
}
/* Never ever set "overflow: auto/scroll"
   to the muuri element, stuff will break */
